table {
    border-spacing: 0;
    font-family: inherit;
    font-size: 13px;
    color: #444;
}

.def-tb-header tr, th {
    margin: 5px;
    border: darkkhaki;
}

.def-tb-header tr:hover {
    background-color: #e0e0e0;
    transition: all 0.1s ease-in-out;
    margin: 5px;
    border: darkkhaki;
}

.def-tb-header th, .custom_tb td {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    margin: 5px;
    border: darkkhaki;
}

.def-tb-header th {
    background-color: #dce9f9;
    margin: 5px;
    border: darkkhaki;
}

.def-tb-header td:first-child, .custom_tb th:first-child {
    border-left: none;
    margin: 5px;
    border: darkkhaki;
}

.def-tb-header th:first-child {
    border-radius: 6px 0 0 0;
    margin: 5px;
    border: darkkhaki;
}

.def-tb-header th:last-child {
    border-radius: 0 6px 0 0;
    margin: 5px;
    border: darkkhaki;
}

.def-tb-header tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
    margin: 5px;
    border: darkkhaki;
}

.def-tb-header tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
    margin: 5px;
    border: darkkhaki;
}

.def-tb-header {
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 1.5px 1.5px 5px #666;
}

/*****************************************/

.table-description-p {
    line-height: 16px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 12px;
}

.table-clmn-p {
    line-height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 15px;
    color: olivedrab;
}

.table-p {
    line-height: 17px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 13px;
}

.table-header-p {
    line-height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: 700;
}

.table-subt-p {
    line-height: 18px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 500;
}